@use "variables" as *;
@use "mixins" as *;

@font-face {
  font-family: "primary-font";
  src: url('../../assets/fonts/AvenirNextLTPro-Regular.otf'),
  url('../../assets/fonts/AvenirNextLTPro.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "primary-font";
  src: url('../../assets/fonts/AvenirNextLTPro-Demi.otf'),
  url('../../assets/fonts/AvenirNextLTProDemi.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "primary-font";
  src: url('../../assets/fonts/AvenirNextLTPro-Bold.otf'),
  url('../../assets/fonts/AvenirNextLTProBold.ttf');

  font-weight: 700;
  font-style: normal;
}

body{
  font-family: "primary-font";
  margin: 16vh 0px 0px 0px;
  padding: 0px;
  @include tablet{
    margin-top: 14vh;
  }
  @include desktop{
    margin-top: 13vh;
  }
} 


* {
  box-sizing: border-box;
}

