@use "partials/variables" as *;
@use "partials/global" as *;
@use "partials/mixins" as *;

.nav-section{
  background-color: $primary-dark;
  @include tablet{
    display: flex;
    align-items: center;
    gap: 10vw;
    padding: 24px 24px 24px 24px;
  }
  &__logo-wrapper{
    display: flex;
    justify-content: center;
    background-color: $primary-dark;
    padding: 24px 0px 16px 0px;
    @include tablet{
      padding: 0px;
    }
  }
  
  &__list{
    display: flex;
    text-align: center;
    list-style: none;
    background-color: $primary-dark;
    margin: 0px;
    padding: 0px;
    @include tablet {
      height: 19px;
      gap: 6vw;
    }
  }
  &__item-wrapper{
    display: flex;
    justify-content: center;
    width: 50%;
    height: 32px;
    @include tablet{
      height: 0px;
    }
    &--active{
      border-bottom: 3px solid $primary-light;
      @include tablet{
        border: none;
        color: $primary-light;
        font-weight: 700;
        text-decoration: underline;
        text-decoration-thickness: 3px;
        text-underline-offset: 150%;
      }
    }
    &:hover{
      border-bottom: 3px solid $primary-light;
      @include tablet {
        border: none;
        color: $primary-light;
        text-decoration: underline;
        text-decoration-thickness: 3px;
        text-underline-offset: 150%;
      }
    }
      
    
  }
  &__list-item{
    color: $primary-medium;
    text-decoration: none;
    width: 100%;
    font-weight: 400;
    &--active{
      color: $primary-light;
    }
    
  }
  &__item-link{
    text-decoration: none;
    color: $primary-medium;
  }
}

.hero-section{
  background-image: url(../assets/images/hero-bio.jpg); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 200px;
  @include tablet{
    height: 500px;
  }
    &__header{
      padding-left: 16px;
      font-weight: 700;
      @include tablet{
        padding-left: 24px;
        font-size: $section-pageh-size-tablet;
        line-height: $section-pageh-height-tablet;
      }
    }
    &__overlay{
      display: flex;
      align-items: center;
      color: $primary-light;
      font-size: $section-header-size-phone;
      line-height: $section-header-height-phone;
      background-color: rgba(0,0,0,0.5);
      width: 100%;
      height: 100%;
    }
}

.about-section{
  padding: 24px 16px 16px 16px;
  @include tablet{
    padding: 60px 50px 30px 50px;
  }

  &__header{
    color: $primary-dark;
    font-size: $section-header-size-phone;
    line-height: $section-header-height-phone;
    font-weight: 700;
    padding: 0px;
    padding-bottom: 16px;
    margin: 0px;
    @include tablet{
      font-size: $section-header-size-tablet;
      line-height: $section-header-height-tablet;
      padding-bottom: 30px;
    }
  }
  &__img{
    width: 100%;
    padding-bottom: 16px;
    @include tablet{
      padding: 0px 40px 24px 40px;
    }
  }
  &__p{
    font-size: $section-body-size-phone;
    line-height: $section-body-height-phone;
    font-weight: 400;
    color: $primary-dark;
    margin: 0px;
    padding-top: 16px;
    &--bold{
      font-weight: 600;
    }
    @include tablet{
      padding: 0px 40px 12px 40px;
      font-size: $section-body-size-tablet;
      line-height: $section-body-height-tablet;
    }
  }
  &__sub-header{
    font-size: $section-sheader-size-phone;
    line-height: $section-sheader-height-phone;
    font-weight: 600;
    margin: 0px;
    padding-top: 24px;
    @include tablet{
      padding: 24px 40px 22px 40px;
      font-size: $section-sheader-size-tablet;
      line-height: $section-sheader-height-tablet;
    }
  }
  &__article{
    padding: 0px 16px 16px 16px;
    @include tablet {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4vw;
      padding: 0px 75px 16px 75px;
    }
  }
  &__article-p{
    font-size: $section-body-size-phone;
  line-height: $section-body-height-phone;
  font-weight: 400;
  color: $primary-dark;
  margin: 0px;
  padding-top: 0px;
  @include tablet{
    width: 45%;
  }
  }
}

.galery-section{
  background-color: $secondary-light;
  padding: 0px 16px 0px 16px;
  @include tablet{
    padding: 0px 35px 0px 35px;
    width: 100%;
    height: 95vh;
  }
  &__header{
    font-size: $section-header-size-phone;
    line-height: $section-header-height-phone;
    color: $primary-dark;
    margin: 0px;
    padding: 24px 0px 16px 0px;
    @include tablet{
      font-size: $section-header-size-tablet;
      line-height: $section-header-height-tablet;
      padding: 60px 35px 30px 25px;
    }
  }
  &__content-wrapper{
    @include tablet{
      // display: flex;
      // justify-content: center;
    }
  }
  &__img{
    width: 100%;
    padding-bottom: 16px;
    @include tablet{
      // flex: 1;
      width: 32%;
      padding: 0px 10px 25px 25px;
    }
  }
}

.footer-section{
  background-color: $primary-dark;
  padding: 0px 16px 0px 16px;
  &__header-wrapper{
    display: flex;
  }
  &__header{
    color: $primary-light;
    font-size: $section-header-size-phone;
    line-height: $section-header-height-phone;
    margin: 0px;
    padding: 24px 0px 16px 0px;
  }
  &__icon-wrapper{
    display: flex;
    align-items: center;
    gap: 9vw;
  }
  &__social-icon{
    width: 30px;
    &--facebook{
      width: 18px;
    }
  }
  &__subheader{
    color: $primary-light;
    font-size: $section-sheader-size-phone;
    line-height: $section-sheader-height-phone;
    font-weight: 600;
    margin: 0px;
    padding: 24px 0px 16px 0px;
  }
  &__text{
    color: $primary-light;
    font-size: $section-footer-size-phone;
    line-height: $section-footer-height-phone;
    font-weight: 400;
    margin: 0px;
    padding-bottom: 16px;
  }
  &__link{
    text-decoration: none;
    color: $primary-light;
    font-size: $section-footer-size-phone;
    line-height: $section-footer-height-phone;
    font-weight: 400;
  }
  &__logo-wrapper{
    padding: 40px 0px 16px 0px;
  }
  &__logo{
    display: block;
  }
}
