@use "./partials/variables.css" as *;
@use "./partials/global.css" as *;
@use "./partials/mixins.css" as *;

.nav{
  &__logo-wrapper{
    display: flex;
    justify-content: center;
    background-color: $primary-dark;
    padding: 24px 0px 16px 0px;
    
  }
  
  // @include tablet {
  //   background-color: red;
  // }
  
  &__list{
    display: flex;
    text-align: center;
    list-style: none;
    background-color: $primary-dark;
    margin: 0px;
    padding: 0px;
  }
  &__item-wrapper{
    display: flex;
    justify-content: center;
    width: 50%;
    height: 32px;
    &--active{
      border-bottom: 3px solid $primary-light;
    }
    &:hover{
      border-bottom: 3px solid $primary-light;
    }
    @include tablet{
      width: 10%;
    }
  }
  &__list-item{
    color: $primary-medium;
    text-decoration: none;
    width: 100%;
    font-weight: 400;
    &--active{
      color: $primary-light;
    }
    
  }
  &__item-link{
    text-decoration: none;
    color: $primary-medium;
  }
}

.hero-section{
  background-image: url(../assets/images/hero-bio.jpg); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 200px;
    &__header{
      padding-left: 16px;
      font-weight: 700;
    }
    &__overlay{
      display: flex;
      align-items: center;
      color: $primary-light;
      font-size: 1.5rem;
      line-height: 2rem;
      background-color: rgba(0,0,0,0.5);
      width: 100%;
      height: 100%;
    }
}

.about-section{
  &__header{
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0px;
    padding-bottom: 16px;
    margin: 0px;
  }
  padding: 24px 16px 16px 16px;
  &__img{
    width: 100%;
  }
  &__p{
    font-size: 0.813rem;
    line-height: 1.125rem;
    font-weight: 400;
    color: $primary-dark;
    margin: 0px;
    padding-top: 16px;
    &--bold{
      font-weight: 600;
    }
  }
  &__sub-header{
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 600;
    margin: 0px;
    padding-top: 24px;
  }
}

.galery-section{
  background-color: $secondary-light;
  padding: 0px 16px 0px 16px;
  &__header{
    font-size: 1.5rem;
    line-height: 2rem;
    color: $primary-dark;
    margin: 0px;
    padding: 24px 0px 16px 0px;
  }
  &__img{
    width: 100%;
    padding-bottom: 16px;
  }
}

.footer-section{
  background-color: $primary-dark;
  padding: 0px 16px 0px 16px;
  &__header-wrapper{
    display: flex;
  }
  &__header{
    color: $primary-light;
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0px;
    padding: 24px 0px 16px 0px;
  }
  &__icon-wrapper{
    display: flex;
    align-items: center;
    gap: 9vw;
  }
  &__social-icon{
    width: 30px;
    &--facebook{
      width: 18px;
    }
  }
  &__subheader{
    color: $primary-light;
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 600;
    margin: 0px;
    padding: 24px 0px 16px 0px;
  }
  &__text{
    color: $primary-light;
    font-size: 0.813rem;
    line-height: 1.125rem;
    font-weight: 400;
    margin: 0px;
    padding-bottom: 16px;
  }
  &__link{
    text-decoration: none;
    color: $primary-light;
    font-size: 0.813rem;
    line-height: 1.125rem;
    font-weight: 400;
  }
  &__logo-wrapper{
    padding: 40px 0px 16px 0px;
  }
  &__logo{
    display: block;
  }
}