@use "partials/variables" as *;
@use "partials/global" as *;
@use "partials/mixins" as *;



.hero-section{
  position: relative;
  background-image: url(../assets/images/hero-bio.jpg); 
  background-position: 50% 46%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 34.5vh;
  margin-top: 0px;
  @include tablet{
    height: 88vh;
  }
  @include desktop{
    height: 120vh;
    background-position: 50% 0%;
  }
    &__header{
      position: absolute;
      top: 50%;
      margin-top: -12px;
      padding-left: 4vw;
      font-weight: 700;
      color: $primary-light;
      font-size: $section-header-size-phone;
      line-height: $section-header-height-phone;
      @include tablet{
        margin-top: -34px;
        padding-left: 5vw;
        font-size: $section-pageh-size-tablet;
        line-height: $section-pageh-height-tablet;
      }
      @include desktop{
        padding-left: 11vw;
        font-size: 6rem;
      }
    }
    &__overlay{
      display: flex;
      align-items: center;
      opacity: 50%;
      width: 100%;
      height: 100%;
      background-color: $primary-dark;
      color: $primary-light;
      font-size: $section-header-size-phone;
      line-height: $section-header-height-phone;
    }
}

.about-section{
  padding: 5vh 16px 16px 4vw;
  @include tablet{
    padding: 60px 50px 30px 50px;
  }
  @include desktop{
    padding: 10vh 11vw 30px 11vw;
  }

  &__header{
    color: $primary-dark;
    font-size: $section-sheader-size-tablet;
    line-height: $section-sheader-height-tablet;
    font-weight: 700;
    padding: 0px;
    padding-bottom: 2vh;
    margin: 0px;
    @include tablet{
      font-size: $section-header-size-tablet;
      line-height: $section-header-height-tablet;
      padding-bottom: 30px;
    }
    @include desktop{
      font-size: $section-header-size-tablet;
      font-size: $section-header-height-tablet;
      padding-bottom: 6vh;
    }
  }
  &__img-wrapper{
    height: 28.1vh;
    background-image: url(../assets/images/band.jpg);
    background-position: center;
    background-size: cover;
    @include tablet{
      height: 60vh;
      width: 75vw;
      background-image: url(../assets/images/band.jpg);
      background-position: center;
      background-size: cover;
      margin: auto;
    }
    @include desktop{
      height: 75vh;
      width: 65vw;
      background-image: url(../assets/images/band.jpg);
      background-position: center;
      background-size: cover;
      margin: auto;
    }
  }
  &__img{
    width: 100%;
    @include tablet{
      display: none;
      padding: 0px 40px 24px 40px;
    }
    @include desktop{
      display: none;
    }
  }
  &__p{
    margin: 0px;
    padding-top: 16px;
    color: $primary-dark;
    font-weight: 400;
    font-size: $section-body-size-phone;
    line-height: $section-body-height-phone;
    &--bold{
      font-weight: 600;
    }
    @include tablet{
      padding: 5vh 7vw 12px 7vw;
      font-size: $section-sheader-size-tablet;
      line-height: $section-sheader-height-tablet;
    }
    @include desktop{
      width: 65.4vw;
      margin: 40px auto 3vh auto;
      padding: 0px;
      font-size: $section-header-size-tablet;
      line-height: $section-header-height-tablet;
    }
  }
  &__author{
    margin: 0px;
    padding: 2vh 0px 1vh 0px;
    color: $primary-dark;
    font-size: $section-body-size-phone;
    line-height: $section-body-height-phone;
    @include tablet{
      padding: 0.8vh 7vw 12px 7vw;
      font-size: 1.2rem;
      line-height: $section-body-height-tablet;
    }
    @include desktop{
      width: 65vw;
      margin: 0px auto 6vh auto;
      padding: 0px;
      font-size: $section-sheader-size-tablet;
      line-height: $section-sheader-height-tablet;
    }
  }
  &__sub-header{
    font-weight: 600;
    margin: 0px;
    padding-top: 24px;
    font-size: $section-sheader-size-phone;
    line-height: $section-sheader-height-phone;
    @include tablet{
      margin: 3vh auto 0.3vh 7vw;
      font-size: $section-sheader-size-tablet;
      line-height: $section-sheader-height-tablet;
    }
    @include desktop{
      width: 65vw;
      margin: 5px auto 1vh auto;
      padding: 0px;
      font-size: $section-header-size-tablet;
      line-height: $section-header-height-tablet;
    }
  }
  &__article{
    padding: 0px 16px 0px 16px;
    @include tablet {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4vw;
      padding: 0px;
      margin: 0px 11vw 0.3vh 11vw;
    }
    @include desktop{
      justify-content: space-between;
      align-items: flex-start;
      width: 65vw;
      margin: 0px auto 6vh 17vw;
      padding: 0px;
    }
  }
  &__article-p{
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 16px;
    font-size: $section-body-size-phone;
    line-height: $section-body-height-phone;
    font-weight: 400;
    color: $primary-dark;
    @include tablet{
      width: 45%;
    }
    @include desktop{
      font-size: $section-sheader-size-tablet;
      line-height: $section-sheader-height-tablet;
    }
  }
}

.galery-section{
  background-color: $secondary-light;
  padding: 0px 16px 0px 16px;
  @include tablet{
    padding: 0px 35px 0px 35px;
    width: 100%;
  }
  &__header{
    font-size: $section-header-size-phone;
    line-height: $section-header-height-phone;
    color: $primary-dark;
    margin: 0px;
    padding: 24px 0px 16px 0px;
    @include tablet{
      font-size: $section-header-size-tablet;
      line-height: $section-header-height-tablet;
      padding: 45px 15px 30px 15px;
    }
    @include desktop{
      font-size: $section-header-size-tablet;
      font-size: $section-header-height-tablet;
      font-size: 3rem;
      padding: 8vh 0vw 6vh 9vw;
    }
  }
  &__content-wrapper{
    @include tablet{
      
    }
    @include desktop{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0vh 7vw 4vh 7vw;
    }
  }
  &__img{
    width: 100%;
    padding-bottom: 2vh;
    @include tablet{
      width: 32%;
      padding: 0px 0px 25px 15px;
    }
    @include desktop{
      width: 31%;
      padding: 0px;
      margin: 0vh 1vw 2vh 0vw;
    }
  }
}

.conversation{
  display: flex;
  flex-direction: column;
  padding: 0px 16px;

  &__header{
    margin: 24px 0px 16px 0px;
    color: $primary-dark;
    font-size: $section-header-size-phone;
    line-height: $section-header-height-phone;
  }

  &__content-wrapper{
    display: flex;
  }

  &__icon-collumn{
    display: flex;
    // width: 30%;
    justify-content: center;
  }
  &__avatar-icon{
    width: 36px;
    height: 36px;
    margin-top: 40px;
    border-radius: 50%;
    background-color: $secondary-medium;
    background-image: url(../assets/images/Mohan-muruge.jpg);
    background-position: 15% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__content{
    width: 100%;
    // max-width: max-content;
    padding: 16px;
  }
  &__input-tag{
    margin: 0px;
    margin-bottom: 5px;
    color: $primary-medium;
    font-size: $section-body-size-phone;
    line-height: $section-body-height-phone;
  }
  &__input-box{
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    background-color: $secondary-light;
    border: 1px solid $secondary-medium;
    border-radius: 5px;
    resize: vertical;
    font-family: "primary-font";
    &--active {
      border-color: $primary-dark;
    }
    
    &--filled {
      border-color: $secondary-medium;
    }
    
    &--error {
      border-color: #D22D2D;
    }
  }
  &__input-box::placeholder{
    color: $primary-dark;
    font-family: "primary-font";
  }


  &__button-wrapper{
    width: 100%;
  }
  &__button{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: $primary-light;
    background-color: $primary-dark;
    font-weight: 700;
    font-size: $section-body-size-phone;
    line-height: $section-body-height-phone;
  }
  &__collumn-splitter{
    width: 100%;
    margin-bottom: 1vh;
    border: 1px solid $secondary-medium;
  }

  &__comment-wrapper{
    display: flex;
  }

  &__comment-avatar{
    width: 36px;
    height: 36px;
    margin-top: 15px;
    border-radius: 50%;
    background-color: $secondary-medium;
    background-position: 15% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__name-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  &__comment-name{
    margin: 0px;
    color: $primary-dark;
    font-weight: 600;
    font-size: $section-sheader-size-phone;
    line-height: $section-sheader-height-phone;
  }
  &__comment-date{
    margin: 0px;
    color: $primary-medium;
    font-size: $section-sheader-size-phone;
    line-height: $section-sheader-height-phone;
  }
  &__comment-text{
    margin: 0px;
    font-size: $section-sheader-size-phone;
    line-height: $section-sheader-height-phone;
  }
}

