@font-face {
  font-family: "primary-font";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf"), url("../../assets/fonts/AvenirNextLTPro.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "primary-font";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf"), url("../../assets/fonts/AvenirNextLTProDemi.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "primary-font";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf"), url("../../assets/fonts/AvenirNextLTProBold.ttf");
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: "primary-font";
  margin: 0px;
  padding: 0px;
}

* {
  box-sizing: border-box;
}

.nav-section {
  background-color: #323232;
}
@media screen and (min-width: 768px) {
  .nav-section {
    display: flex;
    align-items: center;
    gap: 10vw;
    padding: 24px 24px 24px 24px;
  }
}
.nav-section__logo-wrapper {
  display: flex;
  justify-content: center;
  background-color: #323232;
  padding: 24px 0px 16px 0px;
}
@media screen and (min-width: 768px) {
  .nav-section__logo-wrapper {
    padding: 0px;
  }
}
.nav-section__list {
  display: flex;
  text-align: center;
  list-style: none;
  background-color: #323232;
  margin: 0px;
  padding: 0px;
}
@media screen and (min-width: 768px) {
  .nav-section__list {
    height: 19px;
    gap: 6vw;
  }
}
.nav-section__item-wrapper {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 32px;
}
@media screen and (min-width: 768px) {
  .nav-section__item-wrapper {
    height: 0px;
  }
}
.nav-section__item-wrapper--active {
  border-bottom: 3px solid #FFFFFF;
}
@media screen and (min-width: 768px) {
  .nav-section__item-wrapper--active {
    border: none;
    color: #FFFFFF;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 150%;
  }
}
.nav-section__item-wrapper:hover {
  border-bottom: 3px solid #FFFFFF;
}
@media screen and (min-width: 768px) {
  .nav-section__item-wrapper:hover {
    border: none;
    color: #FFFFFF;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 150%;
  }
}
.nav-section__list-item {
  color: #AFAFAF;
  text-decoration: none;
  width: 100%;
  font-weight: 400;
}
.nav-section__list-item--active {
  color: #FFFFFF;
}
.nav-section__item-link {
  text-decoration: none;
  color: #AFAFAF;
}

.hero-section {
  background-image: url(../assets/images/hero-bio.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 200px;
}
@media screen and (min-width: 768px) {
  .hero-section {
    height: 500px;
  }
}
.hero-section__header {
  padding-left: 16px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .hero-section__header {
    padding-left: 24px;
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}
.hero-section__overlay {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  font-size: 1.5rem;
  line-height: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.about-section {
  padding: 24px 16px 16px 16px;
}
@media screen and (min-width: 768px) {
  .about-section {
    padding: 60px 50px 30px 50px;
  }
}
.about-section__header {
  color: #323232;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding: 0px;
  padding-bottom: 16px;
  margin: 0px;
}
@media screen and (min-width: 768px) {
  .about-section__header {
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding-bottom: 30px;
  }
}
.about-section__img {
  width: 100%;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .about-section__img {
    padding: 0px 40px 24px 40px;
  }
}
.about-section__p {
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: #323232;
  margin: 0px;
  padding-top: 16px;
}
.about-section__p--bold {
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .about-section__p {
    padding: 0px 40px 12px 40px;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
.about-section__sub-header {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  margin: 0px;
  padding-top: 24px;
}
@media screen and (min-width: 768px) {
  .about-section__sub-header {
    padding: 24px 40px 22px 40px;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
.about-section__article {
  padding: 0px 16px 16px 16px;
}
@media screen and (min-width: 768px) {
  .about-section__article {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4vw;
    padding: 0px 75px 16px 75px;
  }
}
.about-section__article-p {
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: #323232;
  margin: 0px;
  padding-top: 0px;
}
@media screen and (min-width: 768px) {
  .about-section__article-p {
    width: 45%;
  }
}

.galery-section {
  background-color: #FAFAFA;
  padding: 0px 16px 0px 16px;
}
@media screen and (min-width: 768px) {
  .galery-section {
    padding: 0px 35px 0px 35px;
    width: 100%;
    height: 95vh;
  }
}
.galery-section__header {
  font-size: 1.5rem;
  line-height: 2rem;
  color: #323232;
  margin: 0px;
  padding: 24px 0px 16px 0px;
}
@media screen and (min-width: 768px) {
  .galery-section__header {
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding: 60px 35px 30px 25px;
  }
}
.galery-section__img {
  width: 100%;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .galery-section__img {
    width: 32%;
    padding: 0px 10px 25px 25px;
  }
}

.footer-section {
  background-color: #323232;
  padding: 0px 16px 0px 16px;
}
.footer-section__header-wrapper {
  display: flex;
}
.footer-section__header {
  color: #FFFFFF;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0px;
  padding: 24px 0px 16px 0px;
}
.footer-section__icon-wrapper {
  display: flex;
  align-items: center;
  gap: 9vw;
}
.footer-section__social-icon {
  width: 30px;
}
.footer-section__social-icon--facebook {
  width: 18px;
}
.footer-section__subheader {
  color: #FFFFFF;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  margin: 0px;
  padding: 24px 0px 16px 0px;
}
.footer-section__text {
  color: #FFFFFF;
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
  margin: 0px;
  padding-bottom: 16px;
}
.footer-section__link {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
}
.footer-section__logo-wrapper {
  padding: 40px 0px 16px 0px;
}
.footer-section__logo {
  display: block;
}/*# sourceMappingURL=bio.css.map */