@font-face {
  font-family: "primary-font";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf"), url("../../assets/fonts/AvenirNextLTPro.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "primary-font";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf"), url("../../assets/fonts/AvenirNextLTProDemi.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "primary-font";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf"), url("../../assets/fonts/AvenirNextLTProBold.ttf");
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: "primary-font";
  margin: 16vh 0px 0px 0px;
  padding: 0px;
}
@media screen and (min-width: 768px) {
  body {
    margin-top: 14vh;
  }
}
@media screen and (min-width: 1280px) {
  body {
    margin-top: 13vh;
  }
}

* {
  font-family: "primary-font";
  box-sizing: border-box;
}

.nav-section {
  position: fixed;
  top: 0px;
  z-index: 1000;
  width: 100%;
  background-color: #323232;
}
@media screen and (min-width: 768px) {
  .nav-section {
    display: flex;
    gap: 10vw;
    padding: 24px 24px 24px 24px;
  }
}
@media screen and (min-width: 1280px) {
  .nav-section {
    align-items: center;
    gap: 6vw;
    padding: 40px 24px 40px 24px;
  }
}
.nav-section__logo-wrapper {
  display: flex;
  justify-content: center;
  padding: 2.4vh 0px 16px 0px;
}
@media screen and (min-width: 768px) {
  .nav-section__logo-wrapper {
    margin-left: 2vw;
    padding: 0px;
  }
}
@media screen and (min-width: 1280px) {
  .nav-section__logo-wrapper {
    height: 40%;
    padding-left: 130px;
  }
}
.nav-section__logo {
  width: 140px;
}
@media screen and (min-width: 1280px) {
  .nav-section__logo {
    width: 180px;
  }
}
.nav-section__list {
  display: flex;
  text-align: center;
  list-style: none;
  margin: 0px;
  padding: 0px;
  font-size: 0.875rem;
  line-height: 1.375rem;
}
@media screen and (min-width: 768px) {
  .nav-section__list {
    gap: 6vw;
  }
}
@media screen and (min-width: 1280px) {
  .nav-section__list {
    gap: 3vw;
  }
}
.nav-section__item-wrapper {
  display: flex;
  justify-content: center;
  width: 50%;
  padding: 1vh 0px 1vh 0px;
}
@media screen and (min-width: 1280px) {
  .nav-section__item-wrapper {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
.nav-section__item-wrapper--active {
  font-weight: 700;
  color: #FFFFFF;
  border-bottom: 4px solid #FFFFFF;
}
@media screen and (min-width: 768px) {
  .nav-section__item-wrapper--active {
    border: none;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 235%;
  }
}
@media screen and (min-width: 1280px) {
  .nav-section__item-wrapper--active {
    text-decoration-thickness: 4px;
    text-underline-offset: 205%;
  }
}
.nav-section__item-wrapper:hover {
  border-bottom: 4px solid #FFFFFF;
}
@media screen and (min-width: 768px) {
  .nav-section__item-wrapper:hover {
    border: none;
    color: #FFFFFF;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 235%;
  }
}
@media screen and (min-width: 1280px) {
  .nav-section__item-wrapper:hover {
    text-decoration-thickness: 4px;
    text-underline-offset: 205%;
  }
}
.nav-section__list-item {
  color: #AFAFAF;
  text-decoration: none;
  width: 100%;
  font-weight: 400;
}
.nav-section__list-item--active {
  color: #FFFFFF;
}
.nav-section__item-link {
  text-decoration: none;
  color: #AFAFAF;
}

.footer-section {
  background-color: #323232;
  padding: 0px 16px 0px 16px;
}
@media screen and (min-width: 768px) {
  .footer-section {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    padding: 7vh 7vw 9vh 7vw;
  }
}
@media screen and (min-width: 768px) {
  .footer-section__content-wrapper {
    display: flex;
    align-items: center;
    order: -1;
    gap: 4vw;
  }
}
.footer-section__content-wrapper--info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  width: 30%;
}
@media screen and (min-width: 768px) {
  .footer-section__content-align {
    display: flex;
    justify-content: space-between;
    order: 1;
    width: 100%;
    padding-bottom: 7vh;
  }
}
@media screen and (min-width: 1280px) {
  .footer-section__content-align {
    justify-content: flex-start;
    gap: 50px;
    margin-right: auto;
  }
}
.footer-section__header-wrapper {
  display: flex;
}
.footer-section__header {
  color: #FFFFFF;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0px;
  padding: 24px 0px 16px 0px;
}
@media screen and (min-width: 768px) {
  .footer-section__header {
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding: 0px;
  }
}
@media screen and (min-width: 1280px) {
  .footer-section__header {
    font-size: 3.5rem;
    padding-top: 4vh;
  }
}
.footer-section__icon-wrapper {
  display: flex;
  align-items: center;
  gap: 9vw;
}
@media screen and (min-width: 768px) {
  .footer-section__icon-wrapper {
    gap: 5vw;
    height: 44px;
  }
}
@media screen and (min-width: 1280px) {
  .footer-section__icon-wrapper {
    gap: 2vw;
    padding-top: 4vh;
  }
}
.footer-section__social-icon {
  width: 30px;
}
@media screen and (min-width: 1280px) {
  .footer-section__social-icon {
    width: 38px;
  }
}
.footer-section__social-icon--facebook {
  width: 17px;
}
@media screen and (min-width: 1280px) {
  .footer-section__social-icon--facebook {
    width: 22px;
  }
}
.footer-section__subheader {
  width: -moz-max-content;
  width: max-content;
  color: #FFFFFF;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  margin: 0px;
  padding: 24px 0px 16px 0px;
}
@media screen and (min-width: 768px) {
  .footer-section__subheader {
    padding-bottom: 0px;
  }
}
@media screen and (min-width: 1280px) {
  .footer-section__subheader {
    font-size: 1.5rem;
    line-height: 2rem;
    padding-top: 7vh;
  }
}
.footer-section__text {
  color: #FFFFFF;
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
  margin: 0px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .footer-section__text {
    padding: 0px;
  }
}
@media screen and (min-width: 1280px) {
  .footer-section__text {
    font-size: 1.3rem;
    line-height: 2rem;
  }
}
.footer-section__link {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media screen and (min-width: 1280px) {
  .footer-section__link {
    font-size: 1.3rem;
    line-height: 2rem;
  }
}
.footer-section__logo-wrapper {
  padding: 40px 0px 16px 0px;
}
@media screen and (min-width: 768px) {
  .footer-section__logo-wrapper {
    padding: 0px;
    padding-top: 2vh;
    order: 0;
  }
}
@media screen and (min-width: 1280px) {
  .footer-section__logo-wrapper {
    padding-top: 4vh;
  }
}
.footer-section__logo {
  width: 150px;
}
@media screen and (min-width: 1280px) {
  .footer-section__logo {
    width: 180px;
  }
}
.footer-section__copyright {
  color: #FFFFFF;
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
  margin: 0px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .footer-section__copyright {
    padding: 0px;
    order: 2;
  }
}
@media screen and (min-width: 1280px) {
  .footer-section__copyright {
    font-size: 1.3rem;
    line-height: 2rem;
  }
}

.hero-section {
  position: relative;
  background-image: url(../assets/images/hero-shows.jpg);
  background-position: 15% 0%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 80vh;
  margin-top: 0px;
}
@media screen and (min-width: 768px) {
  .hero-section {
    height: 100vh;
  }
}
@media screen and (min-width: 1280px) {
  .hero-section {
    height: 100vh;
    background-position: 50% 0%;
  }
}
.hero-section__p {
  position: absolute;
  top: 11%;
  padding: 0px 24px;
  margin: 0px;
  font-size: 1.5rem;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .hero-section__p {
    left: 5%;
    top: 14%;
    padding: 0px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-section__p {
    top: 41%;
    left: 10%;
  }
}
.hero-section__header {
  position: absolute;
  top: 23%;
  padding: 0px 24px;
  margin: 0px;
  font-weight: 700;
  color: #FFFFFF;
  font-size: 2.3rem;
  line-height: 4rem;
}
@media screen and (min-width: 768px) {
  .hero-section__header {
    top: 31%;
    margin-top: -34px;
    padding-left: 5vw;
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero-section__header {
    top: 50%;
    left: 5%;
    font-size: 4rem;
    line-height: 4.25rem;
    width: 46.5vw;
  }
}
.hero-section__overlay {
  display: flex;
  align-items: center;
  opacity: 50%;
  width: 100%;
  height: 100%;
  background-color: #323232;
  color: #FFFFFF;
  font-size: 1.5rem;
  line-height: 2rem;
}
.hero-section__iframe-wrapper {
  position: absolute;
  bottom: 40px;
  left: 24px;
  right: 24px;
}
@media screen and (min-width: 768px) {
  .hero-section__iframe-wrapper {
    left: 5%;
    right: 41%;
    bottom: 12%;
  }
}
@media screen and (min-width: 1280px) {
  .hero-section__iframe-wrapper {
    right: 10%;
    top: 42%;
    left: 55%;
  }
}
.hero-section iframe {
  width: 100%;
}

.ticket-section {
  display: flex;
  flex-direction: column;
  padding: 24px 0px 0px 0px;
}
@media screen and (min-width: 768px) {
  .ticket-section {
    padding-left: 2vw;
    padding-right: 2vw;
  }
}
@media screen and (min-width: 1280px) {
  .ticket-section {
    padding: 7vh 5vw 4vh 4vw;
  }
}
@media screen and (min-width: 1280px) {
  .ticket-section__title-wrapper {
    display: flex;
    justify-content: left;
    gap: 11.5vw;
  }
}
.ticket-section__title {
  color: #323232;
  font-size: 2rem;
  line-height: 2.5rem;
  margin-bottom: 30px;
  margin-left: 24px;
}
@media screen and (min-width: 1280px) {
  .ticket-section__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    margin-left: 3vw;
  }
}
.ticket-section__tablet-title {
  display: none;
}
@media screen and (min-width: 768px) {
  .ticket-section__tablet-title {
    display: flex;
    margin-left: 24px;
    gap: 19.4vw;
  }
}
@media screen and (min-width: 1280px) {
  .ticket-section__tablet-title {
    gap: 17vh;
    align-items: center;
    margin: 0px;
  }
}
.ticket-section__tablet-title h5 {
  display: none;
}
@media screen and (min-width: 768px) {
  .ticket-section__tablet-title h5 {
    display: block;
    color: #AFAFAF;
  }
}
@media screen and (min-width: 1280px) {
  .ticket-section__tablet-title h5 {
    width: 100px;
    font-size: 1.1rem;
    line-height: 1.375rem;
  }
}
.ticket-section__main-wrapper {
  padding: 24px 24px;
}
@media screen and (min-width: 768px) {
  .ticket-section__main-wrapper {
    display: flex;
    justify-content: left;
    align-items: center;
  }
}
@media screen and (min-width: 1280px) {
  .ticket-section__main-wrapper {
    align-self: end;
    width: 70%;
    margin-right: 5%;
    padding-left: 0px;
  }
}
.ticket-section__main-wrapper--hover {
  cursor: pointer;
  background-color: #E1E1E1;
}
.ticket-section__main-wrapper--active {
  background-color: #AFAFAF;
}
.ticket-section__main-wrapper--active {
  background-color: #AFAFAF;
}
@media screen and (min-width: 768px) {
  .ticket-section__content-wrapper {
    display: flex;
    width: 25vw;
    height: 4vh;
  }
}
@media screen and (min-width: 1280px) {
  .ticket-section__content-wrapper {
    justify-content: left;
  }
}
.ticket-section__content-title {
  margin: 0px;
  color: #AFAFAF;
}
@media screen and (min-width: 768px) {
  .ticket-section__content-title {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .ticket-section__content-title--none {
    display: none;
  }
}
.ticket-section__content-p {
  margin-top: 10px;
  font-size: 1.2rem;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .ticket-section__content-p {
    margin: 0px;
    padding: 0px;
  }
}
.ticket-section__content-p--semi {
  color: #323232;
  font-weight: 600;
}
.ticket-section__button {
  font-weight: 600;
  font-size: 1.3rem;
  color: #FFFFFF;
  background-color: #323232;
  width: 100%;
  border-radius: 10px;
  border: none;
  padding: 20px;
}
@media screen and (min-width: 768px) {
  .ticket-section__button {
    width: 20vw;
    padding: 15px 0px;
    border-radius: 5px;
  }
}
@media screen and (min-width: 1280px) {
  .ticket-section__button {
    font-weight: 400;
  }
}
.ticket-section__button:hover {
  cursor: pointer;
}
.ticket-section__section-splitter {
  border: 1px solid #E1E1E1;
  width: 100%;
}
@media screen and (min-width: 1280px) {
  .ticket-section__section-splitter {
    align-self: end;
    width: 70%;
    margin-right: 5%;
  }
}/*# sourceMappingURL=shows.css.map */