@use "partials/variables" as *;
@use "partials/global" as *;
@use "partials/mixins" as *;

.hero-section {
  position: relative;
  background-image: url(../assets/images/hero-shows.jpg);
  background-position: 15% 0%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 80vh;
  margin-top: 0px;
  @include tablet {
    height: 100vh;
  }
  @include desktop {
    height: 100vh;
    background-position: 50% 0%;
  }

  &__p {
    position: absolute;
    top: 11%;
    padding: 0px 24px;
    margin: 0px;
    font-size: 1.5rem;
    color: $primary-light;
    @include tablet {
      left: 5%;
      top: 14%;
      padding: 0px;
    }
    @include desktop {
      top: 41%;
      left: 10%;
    }
  }
  &__header {
    position: absolute;
    top: 23%;
    padding: 0px 24px;
    margin: 0px;
    font-weight: 700;
    color: $primary-light;
    font-size: 2.3rem;
    line-height: 4rem;
    @include tablet {
      top: 31%;
      margin-top: -34px;
      padding-left: 5vw;
      font-size: $section-pageh-size-tablet;
      line-height: $section-pageh-height-tablet;
    }
    @include desktop {
      top: 50%;
      left: 5%;
      font-size: 4rem;
      line-height: 4.25rem;
      width: 46.5vw;
    }
  }
  &__overlay {
    display: flex;
    align-items: center;
    opacity: 50%;
    width: 100%;
    height: 100%;
    background-color: $primary-dark;
    color: $primary-light;
    font-size: $section-header-size-phone;
    line-height: $section-header-height-phone;
  }
  &__iframe-wrapper {
    position: absolute;
    bottom: 40px;
    left: 24px;
    right: 24px;
    @include tablet {
      left: 5%;
      right: 41%;
      bottom: 12%;
    }
    @include desktop {
      right: 10%;
      top: 42%;
      left: 55%;
    }
  }
  iframe {
    width: 100%;
  }
}

.ticket-section {
  display: flex;
  flex-direction: column;
  padding: 24px 0px 0px 0px;
  @include tablet {
    padding-left: 2vw;
    padding-right: 2vw;
  }
  @include desktop {
    padding: 7vh 5vw 4vh 4vw;
  }

  &__title-wrapper {
    @include desktop {
      display: flex;
      justify-content: left;
      gap: 11.5vw;
    }
  }

  &__title {
    color: $primary-dark;
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 30px;
    margin-left: 24px;
    @include desktop {
      font-size: $section-header-size-tablet;
      line-height: $section-header-height-tablet;
      margin-left: 3vw;
    }
  }

  &__tablet-title {
    display: none;
    @include tablet {
      display: flex;
      margin-left: 24px;
      gap: 19.4vw;
    }
    @include desktop {
      gap: 17vh;
      align-items: center;
      margin: 0px;
    }
    h5 {
      display: none;
      @include tablet {
        display: block;
        color: $primary-medium;
      }
      @include desktop {
        width: 100px;
        font-size: 1.1rem;
        line-height: $section-body-height-tablet;
      }
    }
  }

  &__main-wrapper {
    padding: 24px 24px;
    @include tablet {
      display: flex;
      justify-content: left;
      align-items: center;
    }
    @include desktop {
      align-self: end;
      width: 70%;
      margin-right: 5%;
      padding-left: 0px;
    }
    &--hover {
      cursor: pointer;
      background-color: $secondary-medium;
    }
    &--active {
      background-color: $primary-medium;
    }
    &--active {
      background-color: $primary-medium;
    }
  }

  &__content-wrapper {
    @include tablet {
      display: flex;
      width: 25vw;
      height: 4vh;
    }
    @include desktop {
      justify-content: left;
    }
  }

  &__content-title {
    margin: 0px;
    color: $primary-medium;
    @include tablet {
      display: none;
    }
    &--none {
      @include tablet {
        display: none;
      }
    }
  }

  &__content-p {
    margin-top: 10px;
    font-size: 1.2rem;
    margin-bottom: 24px;
    @include tablet {
      margin: 0px;
      padding: 0px;
    }
    &--semi {
      color: $primary-dark;
      font-weight: 600;
    }
  }

  &__button {
    font-weight: 600;
    font-size: 1.3rem;
    color: $primary-light;
    background-color: $primary-dark;
    width: 100%;
    border-radius: 10px;
    border: none;
    padding: 20px;
    @include tablet {
      width: 20vw;
      padding: 15px 0px;
      border-radius: 5px;
    }
    @include desktop {
      font-weight: 400;
    }
    &:hover {
      cursor: pointer;
    }
  }

  &__section-splitter {
    border: 1px solid $secondary-medium;
    width: 100%;
    @include desktop {
      align-self: end;
      width: 70%;
      margin-right: 5%;
    }
  }
}
